:root {
  --main-color: rgb(195, 11, 146);
  --bg-color: rgba(255, 255, 255, 0.92);
  --secondary-color: rgb(200, 83, 169);
  --text-color: rgba(93, 90, 90, 0.872);
  --secondary-text-color: #fff;
  --active-text-color: rgb(109, 225, 31);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
  margin-right: 0.5rem;
}

i {
  margin: 0 5px;
}

input {
    padding: 1rem;
    outline: none;
}

input:focus {
    border: 2px solid var(--main-color);
    border-radius: 3px;
}

.active {
  color: var(--active-text-color);
}
.root {
  height: 100%;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 2rem;
  margin: auto;
}
.main__input_wrapper {
  display: flex;
  margin-bottom: 1rem;
}

.main__input_wrapper input {
    width: 100%;
  }

.main__output {
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 3px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: end;
  background-color: var(--main-color);
  color: var(--secondary-text-color);
}

.footer {
  padding: 3px 10px;
  display: flex;
  justify-content: end;
  background-color: var(--main-color);
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}
